*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: hsl(342.86deg 14.29% 61.57%);
    display: flex;
}

#part1{
    height: 100%;
    width: 25%;
}

#part2{
    height: 100%;
    width: 68%;
    background-color: blue;
    background-image: url(https://images.unsplash.com/photo-1480455624313-e29b44bbfde1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-position: center;

}

#overlay{
    height: 100%;
    width: 100%;
    background-color: hsla(344, 14%, 62%, 0.326);
    
}

#part3{
    height: 100%;
    width: 7%;
}

#text-div{
    position: absolute;
    /* height: 300px; */
    width: 400px;
    /* background-color: red; */
    left: 5%;
    top: 50%;
    transform: translate(0,-35%);
}

#text-div>h1{
    font-size: 80px;
    font-family: var(--font-face, "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif);
    font-weight: 900;
    line-height: 65px;
    color: white;
    letter-spacing: 10px;
    text-transform: uppercase;
}

#small-image-div{
    height: 400px;
    width: 300px;
    background-image: url(https://images.unsplash.com/photo-1542776631-741a60ebaf7a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translate(0,-35%);
}

#vertical-text{
    position: absolute;
    right: -19.5%;
    top: 42%;
}

#vertical-text h1{
    font-size: 65px;
    font-weight: 900;
    font-family: var(--font-face, "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    color: transparent;
    letter-spacing: 6px;
    transform: rotate(90deg);
    text-transform: uppercase;
}

#nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 408px;
    top: 5%;
    left: 5%;
}

#nav img{
    height: 60px;
}

#nav h5{
    font-size: 25px;
    font-family: gilroy;
    color: white;
    letter-spacing: 6px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.1px;
}